<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kontakapp">

    <!-- Permission Lokasi (kalau kamu pakai fitur lokasi nanti) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS tidak wajib -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kontak Saya"

    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">

    <!-- Splash Screen sebagai Launcher -->
    <activity
        android:name=".SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Activity lainnya (tidak perlu exported karena bukan launcher) -->
    <activity android:name=".LoadingActivity" />
    <activity android:name=".PermissionActivity" />
    <activity android:name=".ContactListActivity" />
    <activity android:name=".ContactDetailActivity" />
    <activity android:name=".AddContactActivity" />

</application>
    </manifest>